{{ $resultFile := "./fleches/results.json" }}
{{ $trunc := 3 }}
{{ $fields := slice "arc" "date" "score" "level" "rule" }}


{{ with try (resources.Get $resultFile) }}
    {{ with .Err }}
        {{ warnf "%s" . }}
    {{ else with .Value }}
        {{ $data := . | transform.Unmarshal }}
        <!-- TABLE OF CONTENT FULLNAME LIST -->
        {{ $last := "default" }}
            <table> <!-- First empty table -->
        {{ range $k, $result := $data }} <!-- ARCHER LOOP -->
            {{ $fullname := index $result "fullname" }}
            {{ $fullnameSplit := split $fullname ", " }}
            {{ $name := index $fullnameSplit 0 }}
            {{ $first := index $fullnameSplit 1 }}
            {{ if ne $fullname $last }} <!-- IF -->
            </table>
            <div>
                <a href="#res-{{ $k }}">
                    {{ $name | upper | truncate $trunc }}, {{ $first }}
                </a>
            </div>
            <table>
            {{ end }} <!-- END IF-->
            <tr>
            {{ range $f := $fields }}
                <td>{{ index $result $f }}</td>
            {{ end }}
            </tr>
            {{ $last = index $result "fullname" }}
        {{ end }} <!-- END ARCHER LOOP -->
        </table> <!-- Closing last table -->
    {{ else }}
        {{ warnf "Unable to get remote resource %q" $resultFile}}
    {{ end }}
{{ end }}
